<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mars.united.international.webplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".account.login.page.YoutubeLoginActivity"
            android:configChanges="orientation|navigation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>